extends layout

block content
  div.buttons-container
    button#0.btn.toggle 1
    button#1.btn.toggle 2
    button#2.btn.toggle 3
    button#3.btn.toggle 4
    button#4.btn.toggle 5
    button#5.btn.toggle 6
    button#6.btn.toggle 7
    button#7.btn.toggle 8
